<div class="app-container">
  <header class="app-header">
    <a routerLink="/movies" style="text-decoration: none;">
      <h1 class="app-title">{{ title }}</h1>
    </a>

    <nav class="app-nav">
      <a routerLink="/movies" routerLinkActive="active" class="nav-link">Filmes</a>
      
      <a (click)="openMarathonList()" style="cursor: pointer;" class="nav-link">Maratonas</a>
    </nav>
  </header>

  <main class="app-main"> 
    <router-outlet></router-outlet>
  </main>

  <app-marathon-list></app-marathon-list>
</div>